<header style="background-color: rgba(0, 0, 0, 0.05); top: 0; z-index: 0" class="position-sticky ">
  <nav class="container navbar navbar-expand-lg  border-1">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-dark" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-dark" aria-current="page" href="http://localhost:8080/home">Home</a>
          <a class="nav-link text-dark" href="http://localhost:8080/article">Article</a>
        </div>
      </div>
    </div>
  </nav>
</header>
